<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
</head>

<body>
  <h1>ERROR!!!!!!!!!!</h1>
  <p><a href="/error"></a></p>

</body>

</html>